extends layout

block content
    //- Set default values for fields
    - const title = !!requestData ? requestData.title : (!!book ? book.title : "");
    - const author = !!requestData ? requestData.author : (!!book ? book.author : "");
    - const genre = !!requestData ? (requestData.genre || "") : ((!!book && !!book.genre) ? book.genre : "");
    - const year = !!requestData ? (requestData.year || "") : ((!!book && !!book.year) ? book.year : "");

    block form-heading

    form.w-75.w-lg-50(method="post")
        div.form-group
            label(for="title") Title
            if validationErrors && validationErrors.title
                input#title.form-control.is-invalid(type="text", name="title", value=title)
                .invalid-feedback
                    for error in validationErrors.title
                        p= error
            else
                input#title.form-control(type="text", name="title", value=title)

        div.form-group
            label(for="author") Author
            if validationErrors && validationErrors.author
                input#author.form-control.is-invalid(type="text", name="author", value=author)
                .invalid-feedback
                    for error in validationErrors.author
                        p= error
            else
                input#author.form-control(type="text", name="author", value=author)

        div.form-group
            label(for="genre") Genre
            input#genre.form-control(type="text", name="genre", value=genre)

        div.form-group
            label(for="year") Year
            if validationErrors && validationErrors.year
                input#year.form-control.is-invalid(type="text", name="year", value=year)
                .invalid-feedback
                    for error in validationErrors.year
                        p= error
            else
                input#year.form-control(type="text", name="year", value=year)
            

        div.btn-group
            block form-buttons
                a.btn.btn-outline-danger(href="/books") Cancel
                button.btn.btn-green(type="submit") Submit