{{#> layout }}
  {{#*inline "extraHead"}}
  {{/inline}}

  {{#*inline "extraScripts"}}
  {{/inline}}

  {{#* inline "content"}}
    <h1>Books</h1>

    <p>
      <a class="button" href="/books/new">Create New Book</a>
    </p>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year</th>
      </tr>
      </thead>
      <tbody>
        {{#each books}}
          <tr>
            <td>
              <a href="/books/{{this.id}}">{{this.title}}</a>
            </td>
            <td>{{this.author}}</td>
            <td>
              {{#if this.genre}}
                {{this.genre}}
              {{/if}}
            </td>
            <td>
              {{#if this.year}}
                {{this.year}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/inline}}
{{/layout}}
